/*Corps de texte */
body {
  background-color: rgb(140,100,0);
}









/*Sections */
section.big-section {
  width: 90%;

  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;

  background-color: rgb(180,140,0);

  border-width: 3px;
  border-style: solid;
  border-color: rgb(0,0,0)
}

section.little-section {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;

  background-color: rgb(220,180,0);

  border-width: 1.5px;
  border-style: solid;
  border-color: rgb(0,0,0)
}

section.space {
  background-color: rgb(200, 200, 0);
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

section.title {
  width: 100%;
  background-color: rgb(0,0,0);

  min-height: 200px;
  height: auto;

  height: auto;
  margin-top: 0px;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}







/* Titres*/
h1 {
  font-family: "Arial", cursive, sans-serif;
  font-size: 70px;
  font-weight: bolder;

  color: rgb(0,180,240);

  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 4px;

  text-align: center;
}

h2 {
  font-family: "MV Boli", cursive, sans-serif;
  font-size: 28px;
  color: rgb(0, 15, 100);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  font-weight:bold;
}

h3 {
  font-family: "MV Boli", cursive, sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 150);
}

h4 {
  font-family: "MV Boli", cursive, sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
}



/*Paragraphes*/
p.warning {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;

  text-align: right;

  font-weight: bold;

  font-family: "Arial", cursive, sans-serif;
  font-size: 20px;
}
p.warning-lastupdate {
  text-align: right;

  font-weight: 900;

  font-family: "Arial", cursive, sans-serif;
  font-size: 24px;
  padding-right: 20px;
}

p.explaining-big {
  font-family: "Segoe Print", cursive, sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 100;
}
p.explaining-little {
  font-family: "Segoe Print", cursive, sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: normal;
}
p.explaining-kanban {
  font-family: "Segoe Print", cursive, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0)
  font-weight: bold;
  padding-left: 90px;
}





/* Liens de téléchargement */
ul li a[download], ul li a[download]:hover {
  font-family: "Arial", cursive, sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: rgb(120, 0, 0);
}

/* Liens web classiques */
a:not([download]), a:not([download]):hover {
  font-family: "Arial", cursive, sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: rgb(120, 0, 0);
}





/*Listes*/
ul {
  list-style-type: square;
  padding-left: 80px;
}